h1{
    color: rgb(251, 255, 0);
    text-align: center;
    position: relative; top: 300px; 
    font-size: xx-large;
}

h2{
    color: rgb(252, 252, 252);
    text-align: center;
    position: relative; top: 320px;
    font-size: large;
}

h3{
     color: rgb(251, 255, 0);
    text-align: justify;
    position: relative;bottom: 60px;
}

h4{
    color: rgb(255, 25, 0);
    text-align: center;
    position: relative; left: 400px; bottom: 150px;
}

h5{
    color: rgb(255, 25, 0);
    text-align: center;
    position: relative; left: 540px; bottom: 185px;
}

h6{
    color: rgb(255, 25, 0);
    text-align: center;
    position: relative; left: 680px; bottom: 220px;
}
